{% extends "base.html" %}
{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock %}

{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
        {% if DISPLAY_CATEGORY_IN_BREADCRUMBS %}
            <ol class="breadcrumb">
                <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
                <li><a href="{{ SITEURL }}/{{ article.category.url }}" title="{{ article.category }}">{{ article.category }}</a></li>
                <li class="active">{{ article.title }}</li>
            </ol>
        {% else %}
            <ol class="breadcrumb">
                <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
                <li class="active">{{ article.title }}</li>
            </ol>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-2 ">
  <div class="custom-max-width">
    <section id="content">
        <article>
            <header class="page-header">
                <h1>
                    <a href="{{ SITEURL }}/{{ article.url }}"
                       rel="bookmark"
                       title="Permalink to {{ article.title|striptags }}">
                        {{ article.title }}
                    </a>
                </h1>
            </header>
            <div class="entry-content">
                {{ article.content }}
            </div>
            <!-- /.entry-content -->
            {% include 'includes/related-posts.html' %}
            {% include 'includes/addthis.html' %}
            {% include 'includes/comments.html' %}
        </article>
    </section>
  </div>
</div>
<div class="col-sm-6 col-sm-offset-3 col-md-3 col-md-offset-0 ">
  <div class="panel">
      <div class="panel-body">
          {% include "includes/article_info.html" %}
      </div>
  </div>
</div>
{% endblock %}
