{% extends "list_base.html" %}

{% block title %}Authors - {{ SITENAME }}{% endblock %}

{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
        <ol class="breadcrumb">
            <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
            <li class="active">Authors</li>
        </ol>
    {% endif %}
{% endblock %}

{% block icon %} <i class="fa fa-users fa-lg"></i> {% endblock %}
{% block list %}
    <h1>Authors</h1>
    {% for author, articles in authors|sort %}
        <li><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> ({{ articles|count }})</li>
    {% endfor %}
{% endblock %}
