{% extends "base.html" %}

{% block content %}
<div class="col-sm-9 col-md-8 col-md-offset-1">
  <div class="page-header">
    <h1>{% block content_title %}
      Recent posts
    {% endblock %}</h1>
  </div>

    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <article>
                <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
                    <div class="well well-sm">
                        {% include "includes/article_info.html" %}
                    </div>
                {% endif %}
                <div class="summary">{{ article.summary }}
                    {% include 'includes/comment_count.html' %}
                    <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">more ...</a>
                </div>
            </article>
            <hr/>
        {% endfor %}
    {% endif %}

    {% include 'includes/pagination.html' %}
</div>
<div class="col-sm-3 col-lg-2 col-lg-offset-1 well well-sm" id="sidebar">
    {% include 'includes/sidebar.html' %}
</div>
{% endblock content %}
